<div class="grid-component">
    <div class="grid-header">
        <div class="grid-logo" style="@($"width:{width}px;height:{height}px;")">
            @Logo
        </div>
        <div class="grid-tabs">
            @Tabs
        </div>
    </div>
    <div class="grid-body">
        <div class="grid-menu" style="@($"width:{width}px;")">
            @Menu
        </div>
        <div class="grid-content">
            <div class="grid-horizontal-bar @GetResizingClass(0)" @onmousedown="(() => enableResizeHeight = true)" />
            <div class="grid-content-row">
                <div class="grid-vertical-bar @GetResizingClass(1)" @onmousedown="(() => enableResizeWidth = true)" />
                <div class="grid-content-page">
                    @Content
                </div>
            </div>
        </div>
    </div>
    <div class="grid-footer">

    </div>

    @if (enableResizeHeight || enableResizeWidth)
    {
        <div class="grid-resize-overlay @GetCursorClass()" @onmousemove="OnMouseMove" @onmouseup="DisableResize" @onmouseout="DisableResize" />
    }
</div>

@code {
    [Parameter]
    public RenderFragment Logo { get; set; }

    [Parameter]
    public RenderFragment Tabs { get; set; }

    [Parameter]
    public RenderFragment Menu { get; set; }

    [Parameter]
    public RenderFragment Content { get; set; }

    double height = 40;
    double width = 160;
    bool enableResizeHeight = false;
    bool enableResizeWidth = false;

    void OnMouseMove(MouseEventArgs e)
    {
        if (enableResizeHeight)
            height = Math.Clamp(e.ClientY, 30, 200);
        if (enableResizeWidth)
            width = Math.Clamp(e.ClientX, 30, 400);
    }

    void DisableResize()
    {
        enableResizeHeight = false;
        enableResizeWidth = false;
    }

    string GetCursorClass()
    {
        if (enableResizeHeight)
            return "height";
        else if (enableResizeWidth)
            return "width";
        return "";
    }

    string GetResizingClass(int type)
    {
        return (type == 0 && enableResizeHeight) || (type == 1 && enableResizeWidth) ? "resizing" : "";
    }
}
