@using HotfixStudio.Infrastructure.PresentationData
@using HotfixStudio.Presentation.Components.BaseElements

@typeparam T

<div class="base-select-component @GetStatusClassString()" @onmouseenter="(() => isHovering = true)" @onmouseleave="(() => isHovering = false)">
    <BaseInput @bind-Value="displayValue" T="string" OnFocus="OnInputBaseFocusAsync" OnInputChanged="OnInputChangedAsync" Status="GetStatusClass()" Label="@Label" />
    <div class="base-select-dropdown" style="@GetDynamicStyle()">
        @if (isLoading)
        {
            <div class="base-select-dropdown-message">
                Loading
            </div>
        }
        else if (optionResult?.TotalRows > 0)
        {
            <div class="base-select-dropdown-results">
                @foreach (var option in optionResult.Options)
                {
                    string selectedClass = GetSelectedClass(option.Key);
                    <div class="base-select-dropdown-results-option @selectedClass" @onclick="(() => SelectValue(option))">
                        <div class="base-select-dropdown-results-option-label">
                            @option.Value
                        </div>
                        @if (DisplayDbValueInOption)
                        {
                            <div class="base-select-dropdown-results-option-value">
                                @option.Key
                            </div>
                        }
                    </div>
                }
            </div>
        }
        else
        {
            <div class="base-select-dropdown-message">
                Nothing to see here
            </div>
        }
        <div class="base-select-dropdown-controls">
            <div class="controls-wrapper start @GetControlsClass()">
                <Button Size="ElementSize.COMPACT">
                    <Icon IconName="done_all" />
                </Button>
                <Button Size="ElementSize.COMPACT">
                    <Icon IconName="playlist_add" />
                </Button>
            </div>
            <div class="controls-wrapper @GetControlsClass(true)">
                <BasePagination CurrentPageIndex="currentPageIndex" CurrentPageIndexChanged="PageChangedAsync" Size="ElementSize.COMPACT" TotalPages="@(optionResult?.TotalPages ?? 1)" />
            </div>
            <div class="controls-wrapper end @GetControlsClass()">
                <Button Size="ElementSize.COMPACT">
                    <Icon IconName="remove_done" />
                </Button>
                <Button Size="ElementSize.COMPACT">
                    <Icon IconName="playlist_remove" />
                </Button>
            </div>
        </div>
        <BaseDragBar @bind-Size="dropdownHeight" Type="DragBarType.HORIZONTAL_BOTTOM" OnResizeStart="ResizeStart" OnResizeEnd="ResizeEnd" />
        <BaseBorder Scale="60" />
    </div>
</div>


@code {
    [CascadingParameter]
    public StackingContext StackingContext { get; set; }

    [CascadingParameter(Name = "UseDbValueAsText")]
    public bool UseDbValueAsText { get; set; } = false;

    [Parameter]
    public List<T> Values { get; set; }

    [Parameter]
    public EventCallback<List<T>> ValuesChanged { get; set; }

    [Parameter]
    public string DbValueAsString { get; set; } = "Placeholder";

    [Parameter]
    public Func<OptionSearch<T>, Task<OptionResult<T>>> GetOptionsAsync { get; set; }

    [Parameter]
    public bool Multiselect { get; set; }

    [Parameter]
    public string? Label { get; set; }

    [Parameter]
    public bool DisplayDbValueInOption { get; set; } = true;

    bool isFocused = false;
    bool isHovering = false;

    bool readyToOpen = true;

    bool isLoading = false;
    int pageSize = 50;
    CancellationTokenSource? searchTokenSource;
    CancellationTokenSource? displayTextTokenSource;
    OptionSearch<T>? optionSearch;
    OptionResult<T>? optionResult;

    bool _useDbValueAsText = false;
    bool isComponentLoading = true;

    string displayValue = "";
    string lastVerifiedDisplayValue = "";
    string inputValue = "";
    int currentPageIndex = 0;

    // When removing the second last option, the remaining option may not exist in the options list.
    // If this is the case, do not interrupt the user by loading it, but handle it in the end.
    bool unknownRemainingValue = false;

    // If user has typed something, do not automatically update the input.
    bool userHasTyped = false;

    // The user can navigate during loading to change page, but not during a new string search
    bool preventPageNavigation = false;

    double dropdownHeight = 250;
    bool isResizing = false;

    protected override async Task OnInitializedAsync()
    {
        _useDbValueAsText = UseDbValueAsText;
        await InitInputTextAsync();
        await base.OnInitializedAsync();
    }

    protected override async Task OnParametersSetAsync()
    {
        if (_useDbValueAsText != UseDbValueAsText)
        {
            _useDbValueAsText = UseDbValueAsText;
            userHasTyped = false;
            await InitInputTextAsync();
        }
        await base.OnParametersSetAsync();
    }

    async Task OnInputBaseFocusAsync()
    {
        if (!isFocused)
        {
            readyToOpen = false;
            isFocused = true;
            isLoading = true;
            searchTokenSource = new();
            optionSearch = new(Values, pageSize, searchTokenSource.Token);
            var optionsTask = GetOptionsAsync(optionSearch);
            var delay = StackingContext.FocusContext(EventCallback.Factory.Create(this, Close), 200);
            await Task.Delay(delay);
            readyToOpen = true;
            if (optionsTask.IsCompleted)
            {
                optionResult = optionsTask.Result;
            }
            else
            {
                this.StateHasChanged();
                optionResult = await optionsTask;
            }
            isLoading = false;
            this.StateHasChanged();
        }
    }

    void Close()
    {
        searchTokenSource?.Cancel();
        isFocused = false;
        displayValue = lastVerifiedDisplayValue;
        userHasTyped = false;
        optionResult = null;
        if (unknownRemainingValue)
        {
            unknownRemainingValue = false;
            InvokeAsync(async () =>
            {
                isComponentLoading = true;
                this.StateHasChanged();
                await Task.Yield();

                await InitInputTextAsync();
                this.StateHasChanged();
            });
        }
    }

    async Task OnInputChangedAsync(string input)
    {
        userHasTyped = true;
        inputValue = input;
        currentPageIndex = 0;
        optionResult = null;
        preventPageNavigation = true;
        await SearchAsync();
        preventPageNavigation = false;
    }

    async Task SearchAsync()
    {
        isLoading = true;
        searchTokenSource?.Cancel();
        searchTokenSource = new();
        var currentSearchToken = searchTokenSource.Token;
        optionSearch.Search = inputValue;
        optionSearch.PageIndex = currentPageIndex;
        optionSearch.CancellationToken = currentSearchToken;

        try
        {
            optionResult = await GetOptionsAsync(optionSearch);
            if (!currentSearchToken.IsCancellationRequested)
            {
                isLoading = false;
            }
        }
        catch (OperationCanceledException)
        {
            // Task cancelled
        }
        catch (Exception ex)
        {
            isLoading = false;
            this.StateHasChanged();
            // TODO: Display error
        }
    }

    string GetStatusClassString()
    {
        if (readyToOpen)
        {
            var statusClass = GetStatusClass();
            return statusClass == ElementStatus.NONE ? "" : statusClass.ToString().ToLower();
        }
        return "";
    }

    string GetSelectedClass(T value)
    {
        return Values.Contains(value) ? "selected" : "";
    }

    ElementStatus GetStatusClass()
    {
        if (isComponentLoading)
            return ElementStatus.LOADING;
        else if (isFocused)
            return ElementStatus.FOCUS;
        else if (isHovering)
            return ElementStatus.HOVER;
        else
            return ElementStatus.NONE;
    }

    async Task SelectValue(KeyValuePair<T, string> option)
    {
        var value = option.Key;

        if (Multiselect)
        {
            if (Values.Contains(value))
            {
                Values.Remove(value);

                if (Values.Count == 1)
                {
                    // Replace the current option so that the name is set correctly
                    var newOptionKey = Values.First();
                    if (optionResult.Options.TryGetValue(newOptionKey, out var newOptionValue))
                    {
                        option = new(newOptionKey, newOptionValue);
                    }
                    else
                    {
                        unknownRemainingValue = true;
                    }
                }
            }
            else
            {
                Values.Add(value);
            }
        }
        else
        {
            if (Values.Any() && Values.First().Equals(value))
            {
                // No change
            }
            else
            {
                Values.Clear();
                Values.Add(value);
            }
        }

        await ValuesChanged.InvokeAsync(Values);
        await Task.Yield();

        UpdateInputText(option);
        if (!userHasTyped)
        {
            displayValue = lastVerifiedDisplayValue;
        }

        if (!Multiselect)
            StackingContext.BlurContext();
    }

    void UpdateInputText(KeyValuePair<T, string> option)
    {
        if (_useDbValueAsText)
        {
            lastVerifiedDisplayValue = DbValueAsString;
        }
        else if (Values.Count == 0)
        {
            lastVerifiedDisplayValue = "None";
        }
        else if (Values.Count == 1)
        {
            if (unknownRemainingValue)
            {
                // This will only happen on multiselect. See explaination on variable declaration.
                lastVerifiedDisplayValue = "1 selected";
            }
            else
            {
                lastVerifiedDisplayValue = option.Value;
            }
        }
        else
        {
            lastVerifiedDisplayValue = $"{Values.Count} selected";
        }
    }

    async Task InitInputTextAsync()
    {
        displayTextTokenSource?.Cancel();
        isComponentLoading = true;
        var tempKeyValuePair = new KeyValuePair<T, string>(default(T), "Temp");
        if (Values.Count == 1)
        {
            if (_useDbValueAsText)
            {
                tempKeyValuePair = new(default(T), Values.First().ToString());
            }
            else
            {
                try
                {
                    displayTextTokenSource = new();
                    var tempOptionSearch = new OptionSearch<T>(Values, 1, displayTextTokenSource.Token);
                    var tempOptionResult = await GetOptionsAsync(tempOptionSearch);
                    if (tempOptionResult.Options.Any())
                    {
                        tempKeyValuePair = tempOptionResult.Options.First();
                    }
                    else
                    {
                        // This is an error in backend
                        // TODO: Display error to user
                        tempKeyValuePair = new(Values.First(), $"Error {Values.First()}");
                    }
                }
                catch (OperationCanceledException)
                {
                    // Task cancelled
                    return;
                }

            }

        }
        UpdateInputText(tempKeyValuePair);
        displayValue = lastVerifiedDisplayValue;
        isComponentLoading = false;
    }

    string GetDynamicStyle()
    {
        string style = "";
        if (readyToOpen)
        {
            style += isFocused ? $"height:{dropdownHeight}px;" : "";
            style += isResizing ? "transition-duration:0s;" : "";
        }
        return style;
    }

    void ResizeStart()
    {
        isResizing = true;
    }

    void ResizeEnd()
    {
        isResizing = false;
    }

    async Task PageChangedAsync(int newPageIndex)
    {
        currentPageIndex = newPageIndex;
        await SearchAsync();
    }

    string GetControlsClass(bool isPageNavigator = false)
    {
        if (isPageNavigator)
        {
            return preventPageNavigation ? "disable-content" : "";
        }
        return isLoading ? "disable-content" : "";
    }
}
